# Файлы конфигурации
*.conf
*.ini
*.yaml

# Логи
*.log

# Базы данных
*.db

# Виртуальные среды
venv/
env/

# Пиратские копии
*.pyc

# Тестовые файлы
tests/

# Статические файлы
/static/

# Медиафайлы
media/

# Скомпилированные файлы
node_modules/

# Файлы локальных настроек
local_settings.py

# Файлы среды разработки
.env
.env.local

# Прочее
Thumbs.db
db.sqlite3
.DS_Store


migrations\*.py